<template>
  <div class="column is-4" v-if="isDrawerOpen">
    <form @submit.prevent="" class="section">
      <p class="title">
        Edit
      </p>
      <b-field label="Title">
        <b-input v-model="title" maxlength="100" required/>
      </b-field>
      <b-field label="Description">
        <textarea v-model="description" class="textarea" />
      </b-field>
      <b-field label="Dates">
        <b-datepicker multiple v-model="dates" @input="limitDates()" icon="calendar-today"> </b-datepicker>
      </b-field>

      <div class="columns">
        <div class="column" v-for="(date, index) in dates" :key="index">
          <div class="card has-background-dark has-text-white">
            <div class="card-content">
              <p>
                {{ new Date(date).toLocaleDateString()}}
              </p>
              <b-field grouped group-multiline>
                <b-field label="start time" custom-class="has-text-white">
                  <b-timepicker />
                </b-field>
                <b-field label="end time" custom-class="has-text-white">
                  <b-timepicker />
                </b-field>
                <b-field label="price" custom-class="has-text-white">
                  <b-input type="number" />
                </b-field>
              </b-field>
              <b-field label="Type" custom-class="has-text-white" >
                  <b-select class="select" expanded>
                    <option value="Consultancy">Consultancy</option>
                  </b-select>
                </b-field>
            </div>
          </div>
        </div>
      </div>

      <div class="buttons">
        <b-button type="is-dark" expanded native-type="submit">
          SAVE
        </b-button>
        <b-button expanded>
          DELETE
        </b-button>
      </div>
    </form>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
export default {
  data() {
    return {
      title: '',
      description: '',
      dates: [],
      datesData: [],
    };
  },
  computed: {
    ...mapState(["isDrawerOpen"])
  },
  methods: {
    ...mapActions(['addShift']),
    limitDates(value) {
      if (this.dates.length > 10) {
        this.dates.splice(10,1);
      }
    }
  }
};
</script>

<style lang="css">
.sidebar-content {
  overflow: visible !important;
}
</style>
