<template>
  <div class="card">
    <div class="card-content">
      <p class="subtitle">
        {{ title }}
      </p>
      <p class="has-text-grey">
        {{ description }}
      </p>
      <div class="mt-1 columns is-multiline">
        <div class="column is-full" v-for="(date, index) in dates" :key="index">
          <ShiftDate
            :day="date.day"
            :startTime="date.startTime"
            :endTime="date.endTime"
            :type="date.type"
            :price="date.price"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ShiftDate from "./ShiftDate";
export default {
  name: "Shift",
  props: {
    title: {
      type: String,
      required: true
    },
    description: {
      type: String,
      required: true
    },
    dates: {
      type: Array,
      required: true
    }
  },
  components: {
    ShiftDate
  }
};
</script>

<style></style>
