<template>
  <div class="card has-background-dark has-text-white">
    <div class="card-content">
      <div class="level">
        <div class="level-item">
          {{ day }}
        </div>
        <div class="level-item">
          {{ startTime }}
        </div>
        <div class="level-item">
          {{ endTime }}
        </div>
        <div class="level-item">
          {{ type }}
        </div>
        <div class="level-item">
          €{{ price }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ShiftDate',
  props: {
    day: {
      type: String,
      required: true
    },
    startTime: {
      type: String,
      required: true
    },
    endTime: {
      type: String,
      required: true
    },
    type: {
      type: String,
      required: true
    },
    price: {
      type: Number,
      required: true
    },
  }
}
</script>

<style>

</style>
