<template>
  <div class="container column is-10">
    <section class="section">
      <div class="columns">
        <div class="column">
           <nuxt />
        </div>
        <Drawer />
      </div>
    </section>

  </div>
</template>

<script>
import Drawer from '~/components/Drawer';
export default {
  data() {
    return {};
  },
  layout: 'default',
  components: {
    Drawer
  }
};
</script>
