<template>
  <div>
    <p class="title">
      Filter
    </p>
    <div>
      <b-field>
        <b-slider rounded v-model="priceFilter" :min="filterLimits.min" :max="filterLimits.max" />
      </b-field>
    </div>

    <div class="level is-mobile">
      <div class="level-left">
        <div class="level-item">
          <p class="title">
            Shifts
          </p>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <b-button type="is-dark" @click="toggleDrawer">
            {{ isDrawerOpen ? 'Close Drawer':'Add Shift' }}
          </b-button>
        </div>
      </div>
    </div>
    <div class="columns is-multiline">
      <div
        class="column is-full"
        v-for="(shift, index) in filteredShifts"
        :key="index"
      >
        <Shift
          :title="shift.title"
          :description="shift.description"
          :dates="shift.dates"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapActions } from "vuex";
import Shift from "~/components/Shift";
export default {
  name: "HomePage",
  components: {
    Shift
  },
  data() {
    return {
      priceFilter: [0, 20]
    };
  },
  computed: {
    ...mapState(['shifts', 'isDrawerOpen']),
    ...mapGetters(['filterLimits']),
    filteredShifts() {
      return this.shifts.filter(shift => {
        return shift.dates.find(date => {
          return (
            date.price <= Math.max(...this.priceFilter) &&
            date.price >= Math.min(...this.priceFilter)
          );
        });
      });
    }
  },
  methods: {
    ...mapActions(['toggleDrawer']),
  }
};
</script>
